:root {
    --main-color: #3597ff; 
    --secondary-background-color: #f3f9ff;
    --discord-border-color: #d7eaff;
    --quaternary-color: #989ca2;
    --quinary-color: #f0f0f1;
    --button-border-color: #e3e4e6; 
    --text-color: #1a232f; 
    --text-gray: #566b8d;
    --white-text-color: #fff;
    --blue: #5b94d7;
    --green: #5cc19a;
    --yellow: #dbca68;
    --red: #b95e73;
    --blue-background: rgba(221, 236, 251, 0.4);
    --green-background: rgba(156, 238, 204, 0.4);
    --yellow-background: rgba(238, 226, 156, 0.4);
    --red-background: rgba(238, 156, 156, 0.4);
    --arrow-color: #b8c0cf;
    --shadow-color: #f7f8fa;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
    display: none; 
  }

.container {  
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  width: 1296px;
  margin: 0 auto;
  padding: 0 12px;    /* 12px = 0.75rem */ 
}

a {
    text-decoration: none;
    color: var(--text-color);
  }

a:hover,
a:active {
  color: var(--main-color);
}

ul {
    padding: 0;
}
  
li {
    list-style-type: none;
    min-width: fit-content;
}

h1 {
  font-size: 40px;
  font-weight: 100;
}

h5 {
  font-size: 20px;
  font-weight: 200;
}

.justify-content-center {
    justify-content: center !important;
}

.row {
    display: flex;
    margin-right: -12px !important; /* 12px = 0.75rem */
    margin-left: -12px !important; /* 12px = 0.75rem */
}

.text-gray {
  color: var(--text-gray);
}

.text-bold {
  font-weight: 700;
}

.f-sz-xl {
  font-size: 100px;
}

.col-blue {
  color: var(--blue);
}

.col-green {
  color: var(--green);
}

.col-yellow {
  color: var(--yellow);
}

.col-red {
  color: var(--red);
}

.background-blue {
  background-color: var(--blue-background);
}

.background-green {
  background-color: var(--green-background);
}

.background-yellow {
  background-color: var(--yellow-background);
}

.background-red {
  background-color: var(--red-background);
}
