:root {
    --main-color: #3597ff; 
    --secondary-background-color: #f3f9ff;
    --discord-border-color: #d7eaff;
    --quaternary-color: #989ca2;
    --quinary-color: #f0f0f1;
    --button-border-color: #e3e4e6; 
    --text-color: #1a232f; 
    --text-gray: #566b8d;
    --white-text-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
    display: none; 
  }

.container {  
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
  height: 53px;
  margin: 0 auto;
  padding: 0 0.75rem;    /* 12px */ 
}

a {
    text-decoration: none;
    color: var(--text-color);
  }

a:hover,
a:active {
  color: var(--main-color);
}

span {
    font-weight: 700;
  }

ul {
    padding: 0;
}
  
li {
    list-style-type: none;
    min-width: fit-content;
}

h1 {
  font-size: 40px;
  font-weight: 100;
}

.text-gray {
  color: var(--text-gray);
}