 
@media screen and (max-width: 1399px) {
    .container {
        background: yellowgreen;
        width: 1160px;
        margin: 0 auto;
    }

    .menu {
        background: yellow;
        margin: 400px;
    }
    
}

