@media (max-width: 1399.98px) {
    .container {
        width: 1116px; /* 1140px = 71.25rem */
    }

    .navbar-collapse,
    .navbar-nav-scroll {
        overflow: visible;
    }

    .menu {
        margin-right: 0.313rem; /* 5px = 0.313rem */
    }
}