.first {
    display: block;
    background: #3597ff;
    height: 440px;
    width: 100%;
    margin-bottom: 3rem; /* 48px = 3rem */
}


.section1-box {
    height: 440px;
    display: flex;
    justify-content: left;
    align-items: center;
}


.main-block {
    display: flex;
    flex-direction: column;
    width: 526px;
    margin: 3rem 0;
    padding: 3rem 12px;
}



.main-heading {
    color: var(--white-text-color);
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 24px;
}

.mine-p {
    color: var(--white-text-color);
    margin-top: 0;
    margin-bottom: 1rem; /* 16px = 1rem */
}

.main-home {
    
    position: absolute;
    height: 418px;
    top: 153px;
    right: 225px;
}

.circle {
    position: absolute;
    height: 479px; /*478px */
    top: 331px;
    right: -239px;
    z-index: 1;
}